#board {
  /*margin-top: 50px;*/
}

  .row {
    margin: 0 auto;
    padding: 0;
    width: 760px;
    height: 19px;
  }

    .square {
      width: 19px;
      height: 19px;
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      padding: 0;
      background-image: url("images/wood.jpg");
    }